// ------------------------------------------------------------
// Header module
// ------------------------------------------------------------

// Place your BEM/SMACSS style .scss modules in the modules folder

.primary-header {
	background: $beige-ruth;
}

.site-title {}

.page-menu {}